.forgot-password {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  height: 650px;
  width: 25rem;
  justify-content: center;
  .text{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3{
        color: white;
        margin-top: 20px;
        font-size: 32px;
        font-family: cursive;
        font-weight: 550;
        margin-right: 14px;
    }
    h4{
        margin-top: -10px;
        color: grey;
        font-size: 16px;
        padding: 0 0 0 10px;
        font-weight: 400;
        margin-right: 14px;
    
    }
  }
  .email {
    display: flex;
    justify-content: center;
    position: relative;

    img {
      width: 25px;
      height: 25px;
      position: absolute;
      left: 14px;
      top: 10px;
    }
    input {
      display: flex;
      padding: 15px 0px 15px 55px;
      width: 100%;
      border: none;
      color: white;
      background-color: #212121;
      border-radius: 10px;
      font-size: 15px;
      font-family: sans-serif;
    }
    input::placeholder {
      // color: rgb(207, 190, 170);;
      color: grey;
    }
  }
  .submit-button button {
    //  padding: 15px 0px 15px 55px;
    padding: 15px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(130deg, #1277f3 0%, #0b4995 97%);
    color: white;
    width: 100%;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 550;
    font-family: sans-serif;
    cursor: pointer;
    margin-top: 8px;
  }
  button:hover {
    background: linear-gradient(130deg, #0b6be0 0%, #0b3364 97%);
  }
}
