ul {
  list-style: none;
  margin: 0;
  padding: 0;
  #login-button {
    position: absolute;
    right: 50px;
    top: 40px;
    font-family: sans-serif;
    z-index: 2;
    a {
      height: 38px;
      width: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: white;
      background-color: #116ddf;
      font-size: 18px;
      border-radius: 10px;
      transition: all 0.4s ease;
      border: 1px solid black;
    }
    a:hover {
      background-color: #0158c2;
      border: 1px solid white;
    }
  }
  #sign-out-button {
    position: absolute;
    right: 50px;
    top: 40px;
    font-family: sans-serif;
    z-index: 2;
    a {
      height: 38px;
      width: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      text-decoration: none;
      color: white;
      background-color: #116ddf;
      font-size: 18px;
      border-radius: 10px;
      transition: all 0.4s ease;
      border: 1px solid black;
    }
    a:hover {
      background-color: #0158c2;
      border: 1px solid white;
    }
  }
}
@media screen and (max-width: "660px") {
  ul {
    #login-button {
      right: 30px;
      top: 30px;
      a {
        height: 32px;
        width: 80px;
        font-size: 17px;
      }
    }
  }
  ul {
    #sign-out-button {
      right: 30px;
      top: 30px;
      z-index: 2;
      a {
        height: 32px;
        width: 100px;
        font-size: 17px;
      }
    }
  }
}
