input {
  caret-color: red;

  :-webkit-autofill {
    -webkit-box-shadow: 0 0 0px 1000px #fff inset;
  }
}
body {
  overflow: hidden;
}

.sign-in-placement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 80vw;
  .sign-in {
    margin-left: 30px;
    p {
      margin-top: 5px;
      display: flex;
      flex-direction: column;
      font-size: 40px;
      font-family: cursive;
      font-weight: 700;
      // color: rgb(237, 233, 228);;
      color: white;
      transition: all 0.4s ease;
      span {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
        margin-top: -4px;
        font-size: 40px;
        font-weight: 600;
        word-wrap: break-word;
        transition: all 0.4s ease;
      }
    }
  }

  .sign-in-form {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 200px;
    width: 40%;
    transition: all 0.4s ease;
    .grid-margin {
      display: flex;
      flex-direction: column;
      gap: 0.7rem;
      input::placeholder {
        // color: rgb(207, 190, 170);;
        color: grey;
      }
      .email-input {
        display: flex;
        input {
          display: flex;
          padding: 15px 0px 15px 55px;
          width: 100%;
          border: none;
          color: white;
          background-color: #212121;
          border-radius: 10px;
          font-size: 15px;
          font-family: sans-serif;
        }
        img {
          position: absolute;
          width: 25px;
          height: 25px;
          margin-left: 14px;
          margin-top: 10px;
        }
      }
      .password-input {
        display: flex;
        justify-content: center;
        position: relative;

        img {
          width: 27px;
          height: 27px;
          position: absolute;
          left: 14px;
          top: 10px;
        }
        input {
          display: flex;
          padding: 15px 0px 15px 55px;
          width: 100%;
          border: none;
          color: white;
          background-color: #212121;
          border-radius: 10px;
          font-size: 15px;
          font-family: sans-serif;
        }
        i {
          position: absolute;
          cursor: pointer;
          color: white;
          font-size: 20px;
          right: 20px;
          top: 14px;
        }
      }
      .forgotPassword {
        font-size: 16px;
        cursor: pointer;
        margin-top: 8px;
        margin-right: 5px;
        align-self: flex-end;
        font-weight: 500;
        a {
          list-style: none;
          text-decoration: none;
          color: white;
        }
        a:hover {
          transition: all 0.3s ease;
          color: #388df5;
        }
        a:active {
          color: green;
        }
      }

      .submit-button button {
        //  padding: 15px 0px 15px 55px;
        padding: 15px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: linear-gradient(130deg, #1277f3 0%, #0b4995 97%);
        color: white;
        width: 100%;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        font-weight: 550;
        font-family: sans-serif;
        cursor: pointer;
        margin-top: 8px;
      }
      button:hover {
        background: linear-gradient(130deg, #0b6be0 0%, #0b3364 97%);
      }
    }
  }
  .checkout {
    display: flex;
    justify-content: center;
    margin-top: 8px;
    // color: rgb(207, 190, 170);;
    color: lightgray;
  }
  .gfg-icon {
    display: flex;
    justify-content: center;
    cursor: pointer;

    .google {
      height: 50px;
      width: 55px;
      background-color: white;
      border: 1px solid lightgray;
      border-radius: 15px;
      margin-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;

      img {
        height: 25px;
        width: 25px;
      }
    }
    .github {
      height: 50px;
      width: 55px;
      background-color: rgb(53, 52, 52);
      border: 1px solid rgb(53, 52, 52);
      border-radius: 15px;
      margin-top: 10px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 10px;
      i {
        font-size: 25px;
        color: white;
      }
    }
  }

  .create-account {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    // color: rgb(207, 190, 170);;
    color: lightgray;
    span a {
      font-weight: 700;
      font-family: sans-serif;
      text-decoration: none;
      color: #0b4995;
      transition: all 0.3s ease;
    }
    span a:hover {
      color: #1277f3;
    }
    span a:active {
      color: green;
    }
  }
}
@media screen and (max-width: "800px") {
  .sign-in-placement {
    width: 100vw;
    .sign-in {
      margin-left: 0px;

      p {
        font-size: 30px;
      }
      p span {
        font-size: 30px;
      }
    }
  }
}
@media screen and (max-width: "660px") {
  .sign-in-placement {
    margin-top: 10px;
    .sign-in-form {
      width: 70%;
      .grid-margin {
        .email-input {
          img {
            width: 24px;
            height: 24px;
          }
        }
        .password-input {
          img {
            width: 25px;
            height: 25px;
          }
        }
        .submit-button button {
          padding: 13px 0px;
        }
      }
    }
  }
}
