<link rel="stylesheet" href="/css/user_profile.css" />
<div class="success-box">
  <div class="box">
    <h1 class="success-auth">success authentication</h1>
    <li class="user-name"><%= user.name %></li>
  </div>
</div>
