<link rel="stylesheet" href="/css/user_sign_up.css" />
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
  integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
  crossorigin="anonymous"
  referrerpolicy="no-referrer"
/>
<link
  rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
/>
<div class="sign-up-placement">
  <div class="sign-up-box">
    <div class="left">
      <h1 style="color: white">Sign Up</h1>
      <div class="sign-up-text">
        <p style="font-weight: 600; color: white">
          Enter Details to continue
          <span><i class="fa-solid fa-arrow-right"></i></span>
        </p>
      </div>
      <form action="/users/create" method="POST" class="sign-up-form">
        <div id="grid-margin">
          <div id="text-input">
            <input type="text" name="name" placeholder="Your Name" required />
            <img
              src="https://cdn-icons-png.flaticon.com/512/1077/1077012.png"
              alt="email"
            />
          </div>
          <div id="email-input">
            <input
              type="email"
              name="email"
              placeholder="Your Email"
              required
            />
            <img
              src="https://cdn-icons-png.flaticon.com/512/732/732200.png"
              alt="email"
            />
          </div>
          <div id="password-input">
            <input
              type="password"
              name="password"
              placeholder="Password"
              required
              id="id_passwordSignup"
            />
            <i class="far fa-eye" id="togglePasswordSignup"></i>
            <img
              src="https://cdn-icons-png.flaticon.com/512/8882/8882850.png"
              alt="email"
            />
          </div>
          <div id="confirm-password-input">
            <input
              type="password"
              name="confirm password"
              placeholder="Confirm Password"
              required
              id="confirm_password"
            />
            <i class="far fa-eye" id="toggleConfirmPass"></i>
            <img
              src="https://cdn-icons-png.flaticon.com/512/8882/8882850.png"
              alt="email"
            />
          </div>
          <div id="submit-input">
            <button id="btnSubmit">Sign up</button>
          </div>
        </div>
      </form>
    </div>

    <div class="right">
      <div class="checkout">
        <p class="text1">
          You are Signed Out
        </p>
        <p class="text2">
          Sign in to get the best experience
        </p>
      </div>

      <div id="gfg-icon">
        <div>
          <a id="email"
            ><i class="fa-solid fa-envelope"></i>
            <p>Continue with email</p>
          </a>
        </div>
        <div>
          <a href="/users/auth/google" id="google" style="text-decoration: none"
            ><img
              src="https://cdn-icons-png.flaticon.com/512/300/300221.png"
              alt="google"
            />
            <p>Continue with Google</p>
          </a>
        </div>

        <div>
          <a id="facebook"
            ><i class="fa-brands fa-facebook-f"></i>
            <p>Continue with Facebook</p>
          </a>
        </div>
      </div>
      <div class="Already-account">
        Already have an account?
        <span>
          <a style="color: blue" href="/users/sign-in"
            >&nbsp; Sign in<i class="fa-solid fa-arrow-right"></i
          ></a>
        </span>
      </div>
      <div id="create-account">
        <p style="height: 20px; width: 25vw; text-align: center">
          By continuing, you agree to Codeial
          <span style="color: white; font-weight: bold">Terms of Service</span>
          and acknkowledge that you've read our
          <span style="color: white; font-weight: bold">Privacy Policy.</span>
        </p>
      </div>
    </div>
  </div>
</div>
