input {
  caret-color: red;
}

input :-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.sign-up {
  margin-left: 30px;
}

.sign-up .sign-up-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.sign-up-placement {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 80vw;
}

.sign-up-placement .sign-up-box {
  display: flex;
  justify-content: space-around;
  height: 400px;
  width: 100%;
}

.sign-up-placement .left {
  position: relative;
  width: 45%;
}

#grid-margin {
  display: grid;
  grid-gap: 10px;
}

#grid-margin input::placeholder {
  color: white;
}

#grid-margin #text-input {
  display: flex;
  position: relative;
  justify-content: center;
}

#grid-margin #text-input img {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 18px;
  top: 10px;
}

#grid-margin #text-input input {
  display: flex;
  padding: 15px 0px 15px 55px;
  width: 100%;
  border: none;
  color: white;
  background-color: #212121;
  border-radius: 10px;
  font-size: 15px;
  font-family: sans-serif;
}

#grid-margin #email-input {
  display: flex;
  position: relative;
  justify-content: center;
}

#grid-margin #email-input img {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 18px;
  top: 10px;
}

#grid-margin #email-input input {
  position: relative;
  display: flex;
  padding: 15px 0px 15px 55px;
  width: 100%;
  border: none;
  color: white;
  background-color: #212121;
  border-radius: 10px;
  font-size: 15px;
  font-family: sans-serif;
}

#grid-margin #password-input {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

#grid-margin #password-input img {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 18px;
  top: 10px;
}

#grid-margin #password-input input {
  position: relative;
  display: flex;
  padding: 15px 0px 15px 55px;
  width: 100%;
  border: none;
  color: white;
  background-color: #212121;
  border-radius: 10px;
  font-size: 15px;
  font-family: sans-serif;
}

#grid-margin #password-input i {
  position: absolute;
  cursor: pointer;
  color: white;
  right: 20px;
  font-size: 20px;
}

#grid-margin #confirm-password-input {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}

#grid-margin #confirm-password-input img {
  position: absolute;
  width: 25px;
  height: 25px;
  left: 18px;
  top: 10px;
}

#grid-margin #confirm-password-input input {
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding: 15px 0px 15px 55px;
  width: 100%;
  border: none;
  color: white;
  background-color: #212121;
  border-radius: 10px;
  font-size: 15px;
  font-family: sans-serif;
}

#grid-margin #confirm-password-input i {
  position: absolute;
  cursor: pointer;
  color: white;
  right: 20px;
  font-size: 20px;
}

#grid-margin #submit-input button {
  padding: 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(130deg, #1277f3 0%, #0b4995 97%);
  color: white;
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 550;
  font-family: sans-serif;
  cursor: pointer;
}

.right {
  height: inherit;
  width: 45%;
  margin-top: 26px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.right .checkout {
  display: flex;
  flex-direction: column;
  color: white;
  height: 150px;
  width: 400px;
  align-items: center;
  margin-top: 25px;
}

.right .checkout .text1 {
  font-size: 25px;
  margin-bottom: -3px;
  font-weight: 600;
}

.right .checkout .text2 {
  font-size: 20px;
  font-weight: 600;
}

#gfg-icon {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  justify-content: center;
}

#gfg-icon #google {
  height: 40px;
  width: 30vw;
  background-color: #212121;
  border: 1px solid #212121;
  border-radius: 15px;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#gfg-icon #google p {
  height: 20px;
  width: 25vw;
  font-size: 20px;
  text-align: center;
  font-family: sans-serif;
  color: white;
}

#gfg-icon #google img {
  height: 25px;
  width: 25px;
  margin-left: 15px;
}

#gfg-icon #facebook {
  height: 40px;
  width: 30vw;
  background-color: #1277f3;
  border: 1px solid blue;
  border-radius: 15px;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#gfg-icon #facebook i {
  font-size: 25px;
  color: white;
  margin-left: 15px;
}

#gfg-icon #facebook p {
  height: 20px;
  width: 26vw;
  text-align: center;
  color: white;
  font-size: 20px;
  text-align: center;
  font-family: sans-serif;
}

#gfg-icon #email {
  height: 40px;
  width: 30vw;
  background-color: red;
  border: 1px solid darkred;
  border-radius: 15px;
  margin-top: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#gfg-icon #email i {
  font-size: 25px;
  color: white;
  margin-left: 15px;
}

#gfg-icon #email p {
  height: 20px;
  width: 25vw;
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;
  color: white;
}

#create-account {
  display: flex;
  justify-content: center;
  color: gray;
}

.Already-account {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  color: white;
}

.Already-account span a {
  font-weight: 700;
  font-family: sans-serif;
  text-decoration: none;
}
