input {
  caret-color: red;
}

input :-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}

.sign-in {
  margin-left: 30px;
}

.sign-in p {
  margin-top: 5px;
  display: flex;
  flex-direction: column;
  font-size: 40px;
  font-family: cursive;
  font-weight: 700;
  color: white;
}

.sign-in p span {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-top: -4px;
  font-size: 40px;
  font-weight: 600;
  word-wrap: break-word;
}

.sign-in-placement {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 80vw;
}

.sign-in-placement .sign-in-form {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 200px;
  width: 40%;
}

.grid-margin {
  display: grid;
  grid-gap: 10px;
}

.grid-margin input::placeholder {
  color: white;
}

.grid-margin .email-input {
  display: flex;
}

.grid-margin .email-input input {
  display: flex;
  padding: 15px 0px 15px 55px;
  width: 100%;
  border: none;
  color: white;
  background-color: #212121;
  border-radius: 10px;
  font-size: 15px;
  font-family: sans-serif;
}

.grid-margin .email-input img {
  position: absolute;
  width: 25px;
  height: 25px;
  margin-left: 14px;
  margin-top: 10px;
}

.grid-margin .password-input {
  display: flex;
  justify-content: center;
  position: relative;
}

.grid-margin .password-input img {
  width: 27px;
  height: 27px;
  position: absolute;
  left: 14px;
  top: 10px;
}

.grid-margin .password-input input {
  display: flex;
  padding: 15px 0px 15px 55px;
  width: 100%;
  border: none;
  color: white;
  background-color: #212121;
  border-radius: 10px;
  font-size: 15px;
  font-family: sans-serif;
}

.grid-margin .password-input i {
  position: absolute;
  cursor: pointer;
  color: white;
  font-size: 20px;
  right: 20px;
  top: 14px;
}

.grid-margin .submit-button button {
  padding: 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(130deg, #1277f3 0%, #0b4995 97%);
  color: white;
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 550;
  font-family: sans-serif;
  cursor: pointer;
}

.checkout {
  display: flex;
  justify-content: center;
  margin-top: -14px;
  color: white;
}

.gfg-icon {
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.gfg-icon .google {
  height: 50px;
  width: 55px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 15px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.gfg-icon .google img {
  height: 25px;
  width: 25px;
}

.gfg-icon .facebook {
  height: 50px;
  width: 50px;
  background-color: #1277f3;
  border: 1px solid blue;
  border-radius: 15px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.gfg-icon .facebook i {
  font-size: 25px;
  color: white;
}

.gfg-icon .github {
  height: 50px;
  width: 55px;
  background-color: #353434;
  border: 1px solid #353434;
  border-radius: 15px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

.gfg-icon .github i {
  font-size: 25px;
  color: white;
}

.create-account {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  color: white;
}

.create-account span a {
  font-weight: 700;
  font-family: sans-serif;
  text-decoration: none;
}
