<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/forgot_password.css" />
  </head>
  <body>
    <div class="forgot-password-section animate__animated animate__zoomIn">
      <form
        action="/users/forgotPassword"
        method="post"
        class="forgot-password-form"
      >
        <div class="text">
          <h3>Forgot your Password?</h3>
          <h4>
            Please enter the e-mail address you use when creating your account,
            we'll send you instruction to reset your password.
          </h4>
        </div>
        <div class="email">
          <input
            type="email"
            name="email"
            placeholder="email"
            required
            id="email"
          />
          <img
            src="https://cdn-icons-png.flaticon.com/512/732/732200.png"
            alt="email"
          />
        </div>

        <div class="submit-button">
          <button type="submit" value="submit">Confirm</button>
        </div>
      </form>
      <div class="other-option">
        <div class="line1"></div>
        <div class="content">Or continue with</div>
        <div class="line2"></div>
      </div>
      <div class="gfg-icon">
        <a href="/users/auth/google" class="google"
          ><img
            src="https://cdn-icons-png.flaticon.com/512/300/300221.png"
            alt="google"
        /></a>
        <a href="/users/auth/github" class="github"
          ><i class="fa-brands fa-github"></i>
        </a>
      </div>
    </div>
  </body>
</html>
