<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/reset_password.css" />
  </head>
  <body>
    <div class="reset-form-section animate__animated animate__zoomIn">
      <form action="/users/update-password/<%= token %>" method="POST">
        <div class="reset-form">
          <div class="text">
            <h3>Enter New Password</h3>
            <h4>
              Your new password must be different from previous used passwords
            </h4>
          </div>
          <div class="password">
            <input
              type="password"
              name="password"
              placeholder="Password"
              required
              id="password"
            />
            <i class="far fa-eye" id="show-password"></i>
            <img
              src="https://cdn-icons-png.flaticon.com/512/8882/8882850.png"
              alt="icon"
            />
          </div>
          <div class="password">
            <input
              type="password"
              name="confirm_password"
              placeholder="Confirm Password"
              required
              id="confirm-password"
            />
            <i class="far fa-eye" id="show-confirm-password"></i>
            <img
              src="https://cdn-icons-png.flaticon.com/512/8882/8882850.png"
              alt="icon"
            />
          </div>
          <div class="submit-button">
            <button type="submit" value="submit">Confirm</button>
          </div>
        </div>
      </form>
      <div class="other-option">
        <div class="line1"></div>
        <div class="content">Or continue with</div>
        <div class="line2"></div>
      </div>
      <div class="gfg-icon">
        <a href="/users/auth/google" class="google"
          ><img
            src="https://cdn-icons-png.flaticon.com/512/300/300221.png"
            alt="google"
        /></a>
        <a href="/users/auth/github" class="github"
          ><i class="fa-brands fa-github"></i>
        </a>
      </div>
    </div>
    <script src="/js/password-cp-eye.js"></script>
  </body>
</html>
