.forgot-password-section {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 650px;
  width: 25rem;
  justify-content: center;
}

.forgot-password-section .forgot-password-form {
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.forgot-password-section .forgot-password-form .text {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.forgot-password-section .forgot-password-form .text h3 {
  color: white;
  margin-top: 20px;
  font-size: 32px;
  font-family: cursive;
  font-weight: 550;
  margin-right: 14px;
  transition: all 0.4s ease;
}

.forgot-password-section .forgot-password-form .text h4 {
  margin-top: -10px;
  color: grey;
  font-size: 16px;
  padding: 0 0 0 10px;
  font-weight: 400;
  margin-right: 14px;
  transition: all 0.4s ease;
}

.forgot-password-section .forgot-password-form .email {
  display: flex;
  justify-content: center;
  position: relative;
}

.forgot-password-section .forgot-password-form .email img {
  width: 25px;
  height: 25px;
  position: absolute;
  left: 14px;
  top: 10px;
}

.forgot-password-section .forgot-password-form .email input {
  display: flex;
  padding: 15px 0px 15px 55px;
  width: 100%;
  border: none;
  color: white;
  background-color: #212121;
  border-radius: 10px;
  font-size: 15px;
  font-family: sans-serif;
}

.forgot-password-section .forgot-password-form .email input::placeholder {
  color: grey;
}

.forgot-password-section .forgot-password-form .submit-button button {
  padding: 15px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(130deg, #1277f3 0%, #0b4995 97%);
  color: white;
  width: 100%;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 550;
  font-family: sans-serif;
  cursor: pointer;
  margin-top: 8px;
}

.forgot-password-section .forgot-password-form button:hover {
  background: linear-gradient(130deg, #0b6be0 0%, #0b3364 97%);
}

.forgot-password-section .other-option {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-top: 15px;
}

.forgot-password-section .other-option .line1 {
  height: 2px;
  width: 50px;
  background-color: rgba(219, 219, 213, 0.61);
  box-shadow: -1.5em 0 0.4em #dbdbd5;
}

.forgot-password-section .other-option .content {
  color: white;
}

.forgot-password-section .other-option .line2 {
  height: 2px;
  width: 50px;
  background-color: rgba(219, 219, 213, 0.61);
  box-shadow: 1.5em 0 0.4em #dbdbd5;
}

.forgot-password-section .gfg-icon {
  display: flex;
  justify-content: center;
  gap: 0.7rem;
}

.forgot-password-section .gfg-icon .google {
  height: 45px;
  width: 80px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 15px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='24px' height='24px'%3E%3Cpath fill='%23FFC107' d='M43.611,20.083H42V20H24v8h11.303c-1.649,4.657-6.08,8-11.303,8c-6.627,0-12-5.373-12-12c0-6.627,5.373-12,12-12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C12.955,4,4,12.955,4,24c0,11.045,8.955,20,20,20c11.045,0,20-8.955,20-20C44,22.659,43.862,21.35,43.611,20.083z'/%3E%3Cpath fill='%23FF3D00' d='M6.306,14.691l6.571,4.819C14.655,15.108,18.961,12,24,12c3.059,0,5.842,1.154,7.961,3.039l5.657-5.657C34.046,6.053,29.268,4,24,4C16.318,4,9.656,8.337,6.306,14.691z'/%3E%3Cpath fill='%234CAF50' d='M24,44c5.166,0,9.86-1.977,13.409-5.192l-6.19-5.238C29.211,35.091,26.715,36,24,36c-5.202,0-9.619-3.317-11.283-7.946l-6.522,5.025C9.505,39.556,16.227,44,24,44z'/%3E%3Cpath fill='%231976D2' d='M43.611,20.083H42V20H24v8h11.303c-0.792,2.237-2.231,4.166-4.087,5.571c0.001-0.001,0.002-0.001,0.003-0.002l6.19,5.238C36.971,39.205,44,34,44,24C44,22.659,43.862,21.35,43.611,20.083z'/%3E%3C/svg%3E"), auto;
  transition: all 0.4s ease;
}

.forgot-password-section .gfg-icon .google img {
  height: 25px;
  width: 25px;
}

.forgot-password-section .gfg-icon .github {
  height: 45px;
  width: 80px;
  background-color: #353434;
  border: 1px solid #353434;
  border-radius: 15px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  cursor: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 48 48' width='25px' height='25px'%3E%3Cpath fill='%23fff' d='M41,24c0,9.4-7.6,17-17,17S7,33.4,7,24S14.6,7,24,7S41,14.6,41,24z'/%3E%3Cpath fill='%23455a64' d='M21 41v-5.5c0-.3.2-.5.5-.5s.5.2.5.5V41h2v-6.5c0-.3.2-.5.5-.5s.5.2.5.5V41h2v-5.5c0-.3.2-.5.5-.5s.5.2.5.5V41h1.8c.2-.3.2-.6.2-1.1V36c0-2.2-1.9-5.2-4.3-5.2h-2.5c-2.3 0-4.3 3.1-4.3 5.2v3.9c0 .4.1.8.2 1.1L21 41 21 41zM40.1 26.4C40.1 26.4 40.1 26.4 40.1 26.4c0 0-1.3-.4-2.4-.4 0 0-.1 0-.1 0-1.1 0-2.9.3-2.9.3-.1 0-.1 0-.1-.1 0-.1 0-.1.1-.1.1 0 2-.3 3.1-.3 1.1 0 2.4.4 2.5.4.1 0 .1.1.1.2C40.2 26.3 40.2 26.4 40.1 26.4zM39.8 27.2C39.8 27.2 39.8 27.2 39.8 27.2c0 0-1.4-.4-2.6-.4-.9 0-3 .2-3.1.2-.1 0-.1 0-.1-.1 0-.1 0-.1.1-.1.1 0 2.2-.2 3.1-.2 1.3 0 2.6.4 2.6.4.1 0 .1.1.1.2C39.9 27.1 39.9 27.2 39.8 27.2zM7.8 26.4c-.1 0-.1 0-.1-.1 0-.1 0-.1.1-.2.8-.2 2.4-.5 3.3-.5.8 0 3.5.2 3.6.2.1 0 .1.1.1.1 0 .1-.1.1-.1.1 0 0-2.7-.2-3.5-.2C10.1 26 8.6 26.2 7.8 26.4 7.8 26.4 7.8 26.4 7.8 26.4zM8.2 27.9c0 0-.1 0-.1-.1 0-.1 0-.1 0-.2.1 0 1.4-.8 2.9-1 1.3-.2 4 .1 4.2.1.1 0 .1.1.1.1 0 .1-.1.1-.1.1 0 0 0 0 0 0 0 0-2.8-.3-4.1-.1C9.6 27.1 8.2 27.9 8.2 27.9 8.2 27.9 8.2 27.9 8.2 27.9z'/%3E%3Cpath fill='%23455a64' d='M14.2,23.5c0-4.4,4.6-8.5,10.3-8.5c5.7,0,10.3,4,10.3,8.5S31.5,31,24.5,31S14.2,27.9,14.2,23.5z'/%3E%3Cpath fill='%23455a64' d='M28.6 16.3c0 0 1.7-2.3 4.8-2.3 1.2 1.2.4 4.8 0 5.8L28.6 16.3zM20.4 16.3c0 0-1.7-2.3-4.8-2.3-1.2 1.2-.4 4.8 0 5.8L20.4 16.3zM20.1 35.9c0 0-2.3 0-2.8 0-1.2 0-2.3-.5-2.8-1.5-.6-1.1-1.1-2.3-2.6-3.3-.3-.2-.1-.4.4-.4.5.1 1.4.2 2.1 1.1.7.9 1.5 2 2.8 2 1.3 0 2.7 0 3.5-.9L20.1 35.9z'/%3E%3Cpath fill='%2300bcd4' d='M24,4C13,4,4,13,4,24s9,20,20,20s20-9,20-20S35,4,24,4z M24,40c-8.8,0-16-7.2-16-16S15.2,8,24,8 s16,7.2,16,16S32.8,40,24,40z'/%3E%3C/svg%3E"), auto;
  transition: all 0.4s ease;
}

.forgot-password-section .gfg-icon .github i {
  font-size: 25px;
  color: white;
}

@media screen and (max-width: 660px) {
  .forgot-password-section {
    width: 70vw;
  }
  .forgot-password-section .forgot-password-form .text h3 {
    margin-top: 40px;
    font-size: 28px;
  }
  .forgot-password-section .forgot-password-form .text h4 {
    font-size: 14px;
  }
  .forgot-password-section .forgot-password-form .email img {
    width: 22px;
    height: 22px;
    top: 10px;
  }
  .forgot-password-section .forgot-password-form .email input {
    padding: 13px 0px 13px 55px;
  }
  .forgot-password-section .forgot-password-form .submit-button button {
    padding: 12px 0px;
  }
  .forgot-password-section .forgot-password-form button:hover {
    background: linear-gradient(130deg, #0b6be0 0%, #0b3364 97%);
  }
  .forgot-password-section .gfg-icon {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70vw;
  }
  .forgot-password-section .gfg-icon .google {
    height: 40px;
    width: 100%;
  }
  .forgot-password-section .gfg-icon .github {
    height: 40px;
    width: 100%;
    margin-left: 0;
  }
}

@media screen and (max-width: 480px) {
  .forgot-password-section .forgot-password-form .text h3 {
    margin-top: 20px;
    font-size: 20px;
  }
  .forgot-password-section .forgot-password-form .text h4 {
    font-size: 13px;
  }
}
